<div class="row">
	<div class="col-sm-12">
		<form ng-submit="vm.login()" name="form" novalidate>
			<div class="form-group">
				<input type="email" required="" class="form-control input-sm" name="email" ng-model="vm.email" placeholder="Email">
			</div>
			<div class="form-group">
				<input type="password" required="" class="form-control input-sm" name="password" ng-model="vm.password" placeholder="Password">
			</div>
			
			<div class="form-group">
				<input type="submit" value="Submit" class="btn btn-primary">
			</div>
			
		</form>
	</div>
</div>