<div class="row">
    <div class="col-sm-12">
        <form ng-submit="form.$valid && vm.login()" name="form" novalidate>
            <div class="form-group">
                <input type="email" required class="form-control input-sm" name="email" ng-model="vm.email"
                       placeholder="Email">

                <div ng-messages="form.$submitted && form.email.$error" class="help-block">
                    <div ng-message="required">Email is required</div>
                    <div ng-message="email">Enter a valid email.</div>
                </div>
            </div>
            <div class="form-group">
                <input type="password" required="" class="form-control input-sm" name="password" ng-model="vm.password"
                       placeholder="Password">

                <div ng-messages="form.$submitted && form.email.$error" class="help-block">
                    <div ng-message="required">Password is required</div>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="alert alert-danger" ng-show="vm.result.status == false">
            <ul>
                <li>
                    {{vm.result.message}}
                </li>
            </ul>

        </div>
    </div>
</div>